<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <div class="form-group">
                    <label for="nome" class="form-label">Nome</label>
                    <input [(ngModel)]="aluno.nome" disabled type="text" id="nome" class="form-control">
                </div>
                <div class="form-group">
                    <label for="emal" class="form-label">Email</label>
                    <input [(ngModel)]="aluno.email" disabled type="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="senha" class="form-label">Senha</label>
                    <input [(ngModel)]="aluno.senha" disabled type="text" id="senha" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>