.avaliacao-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}